<!DOCTYPE html>
<html lang=""en">
<head>
    <meta charset="UTF-8"
    <title></title>
  
</head>
<body>
    <h1>Grip</h1>
    <p><img src="../img/grip.jpeg" alt="Shows the grip of golf club" width="600"></p>
    <h2>Let's understand the grip</h2>
    <h3>Getting your grip is the key to effortless <strong><em>POWER</em></strong></h3>
    
    <ul>
        <li>V shape pointing down club shaft with "weak" arm <em>KEY TO POWER</em></li>
        <li>V shape pointing down club shaft with "strong "arm"</li>
        <li>Forward press with square clubface</li>
        
    </ul>

    <p><a href="https://golf.com/instruction/strong-weak-neutral-golf-grip/">Strong Grip vs. Weak Grip</a></p>
   

    <p><a href="../index.html">Back to the home page</a></p>

   
</body>
</html>