<!DOCTYPE html>
<html lang=""en">
<head>
    <meta charset="UTF-8"
    <title></title>
  
</head>
<body>
    <h1>Setup</h1>
    <p><img src="../img/setup.jpeg" alt="Shows the setup of golf swing" width="600"></p>
    <h2>Let's understand the Setup</h2>
    <h3>Getting your grip and setup dictate your swing comfort and sequencing</h3>
    <ol>
        <li>The ball is positioned off my left ear</li>
        <li>Feet are roughly shoulder-width apart</li>
        <li>weight is <em>balanced evenly over both feet.</em></li>
        <li>head is just behind the ball</li>
        <li>shaft lean—only a slight tilt toward the target</li>
        <li>grip point between my right shoulder and ear</li>

    </ol>

    <p><a href="https://golf.com/instruction/perfect-golf-swing-balanced-setup/">How to Setup correctly</a></p>
   


    <p><a href="../index.html">Back to the home page</a></p>



   
</body>
</html>