<!DOCTYPE html>
<html lang=""en">
<head>
    <meta charset="UTF-8"
    <title></title>
  
</head>
<body>
    <h1>Swing</h1>
    <p><img src="../img/swing.jpeg" alt="Shows the sequence of golf swing" width="600"></p>
    <h2>Let's understand the swing mechanics</h2>
    <h3>Getting your sequencing is key to power and limited impact on the body</h3>
    <ol>
        <li>The takeaway, key not "breaking" left arm</li>
        <li>Backswing club plane with weight shifting to inside right foot, if at all</li>
        <li>Transition witha slight pause, hands move down <strong><em>BEFORE shoulders start rotating</em></strong></li>
        <li>Downswing is key with holding the angle </li>
        <li>Impact/Release is <strong><em>AFTER the ball</em></strong></li>
        <li>Follow-through at the target well balanced and limited, if any, lateral movement</li>

    </ol>
    
    <p><a href="https://golfguidebook.com/the-complete-golf-swing-sequence-guide-7-steps/">How to Swing correctly</a></p>
   
    <p><a href="../index.html">Back to the home page</a></p>



   
</body>
</html>